.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.bgg{
  background-color: #424242
  ;

}
.App-link {
  color: #61dafb;
}

.padText {
  padding-left: 50px;
}

.Text {
  text-align: left ;
  padding-left: 30px;
}
.textRed {
  color: #fd0707;
}
.pText{
  padding-left: 150px;
}
.iconBlue {
  font-size: 48px;
  color: #61dafb;
  padding-left: 30px;
  
}
.app-left {
  padding-left: 10px;
  width: 30%;
}
.app-right{
 width:  70%;
}

.box{
  width: 160px;
  height: 115px;
  background:rgb(56, 55, 55);
  color: white;
  text-align: center; 
  padding: 30px;
}
.box2{
  width: 160px;
  height: 115px;
  background:rgb(0, 0, 0);
  color: white;
  text-align: center; 
  padding: 30px;
}
.box3{
  width: 150px;
  height: 100px;
  background:rgb(0, 0, 0);
  color: white;
  text-align: center; 
  padding-left: 60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
